<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/vanilladb
        </property>
        <property name="connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>
        <property name="connection.username">
            maria
        </property>
        <property name="connection.password">
            maria22
        </property>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <mapping resource="Movie.hbm.xml"/>
    </session-factory>
</hibernate-configuration>

